.title.edit
  %h1 #{@user.username}

-if @user.errors.any?
  #error_explanation
    %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for @user do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit
