.title
  %h1 Sign Up

%p Please note that Scientia Communis is currently in Closed Beta. Therefore, you will not be able to register for an account unless you have been issued an invitation.

= simple_form_for @user do |f|
  = f.error_notification
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.error :base
  = f.button :submit
