.title.green
  %h1
    Scientia Communis
    %span#beta BETA
  %p Document Publishing of the Future

%p <em>Scientia</em> is a place for writing and sharing documents. Whether it's an academic paper, a dissertation, or just an essay, <em>Scientia</em> gives you access to professional-grade typesetting, while allowing you to focus on your writing.

.grid
  #md
    = image_tag("markdown.png", width: 40, height: 40)
    Documents are written in Extended <strong>Markdown</strong>, which makes formatting easy. You can even use your favourite text editor.
  #latex
    = image_tag("assets/typesetting.png", width: 40, height: 40)
    Documents are rendered with the <strong>Latex</strong> typesetting system, the industry standard for academic publishing.
%br
.grid
  #bib
    = image_tag("assets/book.png", width: 40, height: 40)
    %span <strong>Bibliography</strong> files are written in the bibtex format, and inserting a reference into your document is as simple as <code>[@jones97]</code>.

  #temp
    = image_tag("assets/template.png", width: 40, height: 40)
    Documents can be rendered using custom latex <strong>templates</strong>, allowing complete control over the formatting of your documents.

%br

.center.large= link_to "Sign up now, it's free!", sign_up_path, class: "btn"
