//= simple_form_for [@user, @document] do |f|
//  = f.error_notification
//  = f.input :name
//  = f.association :template, collection: @user.templates, include_blank: "Default"
//  = f.association :bibliography, collection: @user.bibliographies, include_blank: "Default"
//  = f.input :body, label: false
//  = f.error :base
//  = f.button :submit

.wmd-panel
  = simple_form_for [@user, @document] do |f|
    = f.error_notification
    = f.text_field :name
    #collections.clearfix
      %span.left= f.association :template, collection: @user.templates, include_blank: "Default"
      %span.right= f.submit "Save"
    #wmd-button-bar
    = f.text_area :body, class: "wmd-input", id: "wmd-input", label: false
    = f.error :base
  #wmd-preview.wmd-panel.wmd-preview
        
- content_for :javascript do
  = javascript_include_tag "editor"
  :javascript
    (function () {
        var converter = Markdown.getSanitizingConverter();
        var editor = new Markdown.Editor(converter);
        editor.run();
    })();
