.title
  %h1= @document.name

.meta.clearfix
  %span Created by #{link_to @user.username, @user} on #{@document.created_at.to_date.inspect}
  %ul
    - if @user == current_user
      %li= button_to 'Delete', [@user, @document], method: :delete, confirm: "Are you sure?"
      %li= button_to 'Edit', edit_user_document_path(user_id: @user, id: @document), method: :get
    - if @document.pdf.nil?
      - if @document.errors.nil?
        %li= button_to "Generating...", "#", disabled: true
      - else
        %li= button_to "Error!", "#", disabled: true
    - else
      %li= button_to "View PDF", user_document_path(user_id: @user, id: @document, format: :pdf), method: :get
    %li= button_to "View raw", user_document_path(user_id: @user, id: @document, format: :md), method: :get

- unless @document.warnings.nil?
  #errors= @document.warnings
      

#document
  #warning
    %span Note: the following is a preview, and may not accurately represent the output pdf.
  = @document.html.html_safe

#details.grid
  #temp
    %p Template: #{@document.template.nil? ? link_to("Default", "/root/templates/default") : link_to(@document.template.name, [@user,@document.template])}
  #bib
    %p Bibliography: #{@document.bibliography.nil? ? link_to("Default", "/root/bibliographies/default") : link_to(@document.bibliography.name, [@user,@document.bibliography])}
