.title
  %h1= @document.name

.meta.clearfix
  %span Created by #{link_to @user.username, @user} on #{@document.created_at.to_date.inspect}
  %ul
    - case @document.state
    - when :success
      %li#pdf_button= button_to "View PDF", user_document_path(user_id: @user, id: @document, format: :pdf), method: :get
    - when :generating
      %li#pdf_button= button_to "Generating...", user_document_path(user_id: @user, id: @document), disabled: true
    - when :error
      %li#pdf_button= button_to "Error!", user_document_path(user_id: @user, id: @document), disabled: true

#errors_placement
  - unless @document.warnings.nil? or @document.warnings == "Generating..."
    #errors= @document.warnings

.grid
  #document
    - case @document.state
    - when :success
      = image_tag user_document_path(user_id: @user, id: @document, format: :png), width: 300
      //%iframe{src: user_document_path(user_id: @user, id: @document, format: :pdf)}
    - when :generating
      %h1#heading Generating...
      = javascript_tag "jQuery(function(){jQuery.getScript(document.URL)});"
    - when :error
      %h1#heading Error!
  #info
    %p Metadata here.
    %p Template: #{@document.template.nil? ? link_to("Default", "/root/templates/default") : link_to(@document.template.name, [@user,@document.template])}
    %p Associated files coming soon!
    - if @user == current_user
      .ctrls.gray
        %span Owner controls:
        %ul
          %li.left= button_to "Delete", [@user, @document], method: :delete, confirm: "Are you sure?"
          %li.right= button_to "Edit", edit_user_document_path(user_id: @user, id: @document), method: :get
    %p.muted
      Other views:
      = link_to "tex", user_document_path(user_id: @user, id: @document, format: :tex)
      ,
      = link_to "raw", user_document_path(user_id: @user, id: @document, format: :md)
